Package: com.mj.sb
Name: tweak_sb
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 朱双泉
Author: 朱双泉
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 120
