[submodule "BaseComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/BaseComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/BaseComponent
[submodule "MainComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/MainComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/MainComponent
[submodule "SegmentBarComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/SegmentBarComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/SegmentBarComponent
[submodule "RemotePlayerComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/RemotePlayerComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/RemotePlayerComponent
[submodule "DownloaderComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/DownloaderComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/DownloaderComponent
[submodule "SqliteComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/SqliteComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/SqliteComponent
[submodule "TodayFireComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/TodayFireComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/TodayFireComponent