[submodule "StudyNotes/Componentization/RemotePrivateLib/BaseComponent"]
	path = StudyNotes/Componentization/RemotePrivateLib/BaseComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/BaseComponent
[submodule "BaseComponent"]
	path = BaseComponent
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/BaseComponent
[submodule "StudyNotes/Componentization/RemotePrivateLib/--force"]
	path = StudyNotes/Componentization/RemotePrivateLib/--force
	url = https://git.dev.tencent.com/dtid_ada36270f1f70012/BaseComponent
