/*
默认主题颜色定义文件
*/

@colors
{
/* UI规范优化 -------------------------------------------------------- */

/* 背景色 */
	/* 普通列表(PlainStyle)的尾部背景色 */
	DEFAULT_TABLE_TAIL_COLOR: #FFFFFF;
	/* 普通列表(PlainStyle)的背景色 */
    DEFAULT_TABLE_BACKGROUND_COLOR: #EDEDED;
	/* 设置列表(GroupedStyle)的背景色 */
	SETTING_TABLE_BACKGROUND_COLOR: #EDEDED;
    /* 普通列表(PlainStyle)的背景色的黑色背景色，朋友圈，Webview使用这个值 */
    BLACK_TABLE_BACKGROUND_COLOR: #2E3132;

	/* 深色背景色，跟黑色导航栏（navigator_background_color_black）一体 */
	DARK_BACKGROUND_COLOR: #333333;
	/* 聊天界面背景色 */
	CHAT_BACKGROUND_COLOR: #EDEDED;

/* 字体颜色 */

	WHITE_TITLE_COLOR: #FFFFFF;
	BLACK_TITLE_COLOR: #000000;

	MAIN_TEXT_COLOR: #888888;
	EXPLAIN_TEXT_COLOR: #B2B2B2;

    TIMELINE_NAME_HB_COLOR:#D65645;
    TIMELINE_NAME_HB_GOLDEN_COLOR:#B19462;
	TIMELINE_NAME_COLOR: #576B95;
	LINK_COLOR: #576b95;
	WARN_COLOR: #B71414;


/* 基本配色 -------------------------------------------------------- */	



	/* 默认文字颜色 */
	DEFAULT_TEXT_COLOR:#000000;
	
	/* 默认灰色文字颜色 */
	DEFAULT_TEXT_GRAY_COLOR:#888888;
	
	/* 默认深灰色文字颜色 */
	DEFAULT_TEXT_DARK_COLOR:#888888;
	
	/* 默认高亮文字颜色 */
	DEFAULT_TEXT_HIGHLIGHT_COLOR:#fff;
	
	/* 默认置灰文字颜色 */
	DEFAULT_TEXT_DISABLED_COLOR:#aaaaaa;
	
	/* 默认按钮或toolbar背景颜色 */
	DEFAULT_TINT_BACKGROUND_COLOR:#000;
	
	/* 默认边框颜色 */
	DEFAULT_BORDER_COLOR:#a8b6bb;
	
	/* 默认链接颜色 */
	DEFAULT_LINK_COLOR:#576b95;
	
	/* 默认链接高亮颜色 */
	DEFAULT_LINK_HIGHLIGHT_COLOR:#486497;
	
	/* 通用浅色背景颜色 */
	DEFAULT_BACKGROUND_COLOR:#EDEDED;
	
	/* 通用底板背景颜色 */
	DEFAULT_BACKGROUND_DARK_COLOR:#474747;
    
    /* 通用的下拉背景颜色 */
    DEFAULT_GENERAL_BACKGROUND_COLOR:#2e3132;

    /* 通用的列表HEADER文字颜色 */
    DEFAUTL_TABLE_HEADER_COLOR:#888888;

    /* 通用的列表简介（右侧）文字颜色 */
    DEFAUTL_TABLE_INTROL_COLOR:#b2b2b2;

    /* 通用的列表FOOTER文字颜色 */
    DEFAUTL_TABLE_FOOT_COLOR:#b2b2b2;
    
    /* 默认OPENIM DESC描述文字颜色 */
    DEFAULT_OPENIM_DESC_TEXT_COLOR:#FD8F44;
	
	
/* 通用文字 --------------------------------------------------------- */	

	/* 通用文字颜色 */
	default_text_color:DEFAULT_TEXT_COLOR;

	/* 通用文字高亮颜色 */
	default_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
    /* RichTextView中的链接、电话等的颜色 */
    rich_text_link_color:#2782D7;
    
	/* 通用链接文字颜色 */
	default_link_color:DEFAULT_LINK_COLOR;

	/* 通用链接高亮文字颜色 */
	default_link_highlight_color:DEFAULT_LINK_HIGHLIGHT_COLOR;
	
	/* 摘要文字颜色 */
	summary_text_color:DEFAULT_TEXT_GRAY_COLOR;
	
	
	/* SECTION标题 */
	
	label_title_text_color:DEFAULT_TEXT_DARK_COLOR;
	
    label_title_shadow_color:#fff;
	
	label_title_hightlight_color:#333333;
    
    /* SECTION注释 */
    
	label_note_text_color:DEFAULT_TEXT_DARK_COLOR;
	
    label_note_shadow_color:#fff;
    
    /* 带框文字颜色 */
	label_border_text_color:DEFAULT_TEXT_DARK_COLOR;	
	
	label_border_shadow_color:#fff;
	
	/*   标签栏文字选中颜色 */
    tabbar_selected_text_color:#ffffff;
    
    /*   标签栏文字未选中颜色 */
    tabbar_normal_text_color:#B2B2B2;
	
	
/* 通用TABLEVIEW --------------------------------------------------------------------- */	
	
	/* CELL标题文本颜色 */
	cell_label_text_color:DEFAULT_TEXT_COLOR;
	
	/* CELL标题文本高亮颜色 */
	cell_label_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* CELL值文本颜色 */
	cell_value_text_color:DEFAULT_TEXT_GRAY_COLOR;
	
	/* CELL值文本高亮颜色 */
	cell_value_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* Cell在disable状态的颜色值 */
	cell_text_disabled_color:#B2B2B2;
	
	/* Cell默认背景色 */
	cell_background_color:#ffffff;
    
    /* Cell未读背景色 */
    cell_unread_background_color:#ecf4d7;
	
	/* 圆角边框颜色 */
	grouped_cell_border_color:#bcbab6;
	
	/* 直角边框颜色 */
	plain_cell_border_color:#d4d2d0;
	
    /* CELL高亮背景色 */
    cell_highlight_background_color:#007fea;

    
    /* CELL高亮边框色 */
    cell_highlight_border_color:#d4d2d0;
    
    /* tableview 默认后面展开的颜色 */
    tableview_tail_color : #FFFFFF ;
    
	
/* 通用按钮 --------------------------------------------------------- */	
	
	/* 深色按钮文字颜色 */
	btn_dark_text_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 深色按钮高亮时文字颜色 */
	btn_dark_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 深色按钮置灰文字 */
	btn_dark_text_disabled_color:DEFAULT_TEXT_DISABLED_COLOR; 
	
	/* 深色按钮文字阴影颜色 */
	btn_dark_text_shadow_color:#386b29;
	
	
	/* 红色按钮文字颜色 */
	btn_red_text_color:#ffffff;
	
	/* 红色按钮高亮时文字颜色 */
	btn_red_text_highlight_color:#dc675b;
	
	/* 红色按钮置灰文字颜色 */
	btn_red_text_disabled_color:DEFAULT_TEXT_DISABLED_COLOR;

	/* 红色按钮文字阴影颜色 */
	btn_red_text_shadow_color:#810f0e;
	
	
	/* 浅色色按钮文字颜色 */
	btn_light_text_color:DEFAULT_TEXT_DARK_COLOR;
	
	/* 浅色按钮高亮时文字颜色 */
	btn_light_text_highlight_color:DEFAULT_TEXT_DARK_COLOR;
	
	/* 浅色按钮置灰文字颜色 */
	btn_light_text_disabled_color:DEFAULT_TEXT_DISABLED_COLOR;

	/* 浅色按钮文字阴影颜色 */
	btn_light_text_shadow_color:#ffffff;
	
/* 顶部导航 --------------------------------------------------------- */
	/* 顶部导航背景颜色 */
    navigator_background_color:#EDEDED;
    navigator_background_color_black:#333333;
    
    /* 导航栏前景色 */
    navigator_foreground_black_color:#181818;
    navigator_foreground_white_color:#ffffff;
	/* 顶部导航标题文字颜色（黑色） */
    navigator_title_text_color:#181818;
    /* 顶部导航按钮颜色（黑色） */
    navigator_button_color:#181818;
    
    /* 这两个颜色已经被用错，新增代码不要使用 */
	/* 顶部导航按钮文字颜色 */
	navigator_btn_text_color:#fff;
	/* 顶部导航按钮文字高亮颜色 */
	navigator_btn_text_highlight_color:#a0a0a0;
	
	/* 顶部导航条按钮默认背景色 */
	navigator_tint_color:DEFAULT_TINT_BACKGROUND_COLOR;
    
    /* 主界面“+”号文字颜色 */
    main_frame_add_title_color:#fff;


	

/* 会话列表 ----------------------------------------------------- */

	/* 标题，参与人名 */
	session_title_color:DEFAULT_TEXT_COLOR;
    
    session_title_desc_color:DEFAULT_OPENIM_DESC_TEXT_COLOR;

	/* 日期 */
	session_date_color:#B2B2B2;

	/* 摘要 #8094a3 */
	session_summary_color:DEFAULT_TEXT_GRAY_COLOR;

	/* 未读语音文字提示 */
	session_unread_color:#aa0000;
    
    /* 置顶cell背景色*/
    message_list_cell_top_color:#F7F7FA;

    /* 未置顶cell背景色*/
    message_list_cell_color:#ffffff;
    
    /* 分割线*/
    message_list_div_line:rgba(0, 0, 0,0.15);
    
    /*  首页列表时间  */
    new_main_frame_cell_time_color:#B2B2B2;
    /*  首页列表 摘要  */
    new_main_frame_cell_summay_color:#9b9b9b;

/* 会话顶部TIPS系统 ---------------------------------------------------------------- */

	/* 文字颜色 */
	tips_title_text_color:DEFAULT_TEXT_COLOR;
	
	/* 文字高亮颜色 */
	tips_title_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 摘要文字颜色 */
	tips_summary_text_color:DEFAULT_TEXT_GRAY_COLOR;
	
	/* 摘要文字高亮颜色 */
	tips_summary_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 背景色 */
	tips_background_color:DEFAULT_TEXT_GRAY_COLOR;
	


/* 聊天界面 --------------------------------------------------------- */	
	
	/* 系统消息文字颜色 */
	message_systemmessage_text_color:#fff;
	
	/* 聊天界面时间文字颜色 */
	message_time_text_color:#fff;
	
	/* 聊天界面对方正文文字颜色 */
	message_content_receive_text_color: DEFAULT_TEXT_COLOR;

	/* 聊天界面我方正文文字颜色 */
	message_content_send_text_color: DEFAULT_TEXT_COLOR;
	
	/* 输入文本颜色 */
	message_input_text_color:DEFAULT_TEXT_COLOR;	
	
	/* 消息中链接颜色 */
	message_link_text_color:DEFAULT_LINK_COLOR;
	
	/* 普通消息链接高亮  */
	message_link_text_highlight_color:DEFAULT_LINK_HIGHLIGHT_COLOR;

	/* 系统消息链接 */
	message_system_link_text_color:DEFAULT_LINK_COLOR;

	/* 系统消息链接高亮 */
	message_system_link_text_highlight_color:DEFAULT_LINK_HIGHLIGHT_COLOR;

	/* 查看更多消息文字颜色 */
	message_readmore_text_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 查看更多未读消息文字颜色 */
	message_readmore_unread_text_color:#ffbb02;
	
    /* 编辑模式选择背景色 */
	message_cell_delete_selected_color:rgba(197, 153, 114,0.5);

	/* 编辑模式分隔线颜色 */
	message_seperate_color:rgba(251,222,197,0.7) ;

    /* 邮件文字颜色 */
	message_pushmail_content_text_color:#558000 ;
	
	/* 语音条的时间文字 */
	message_time_label_color:#8b8b8b  ;
	
	
	
	
	
/* 聊天界面的弹出框 ---------------------------------------------------------- */	

	
	/* 默认文字 */
	TypeSelector_text_color:#353535 ;
	
	/* 默认阴影 */
	TypeSelector_shadow_color:#BDBDBD ;
	
	
	/* 高亮文字 */
	TypeSelector_highlight_text_color:#353535 ;
	
	/* 高亮阴影 */
	TypeSelector_highlight_shadow_color:#828282 ;
	
	
	/* 文字选中图标文字 */
	TypeSelector_selected_text_color:#353535 ;
	
	/* 文字选中文字阴影 */
	TypeSelector_selected_shadow_color:#828282 ;
	
	
	
	
	

/* 通讯录 ---------------------------------------------------------- */	
	
	/* 联系人名颜色 */
	contact_title_text_color:DEFAULT_TEXT_COLOR;
	
	/* 联系人名高亮颜色 */
	contact_title_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 附属信息颜色 */
	contact_summary_text_color:DEFAULT_TEXT_GRAY_COLOR;
	
	/* 附属信息高亮颜色 */
	contact_summary_text_highlight_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* disable状态的颜色值 */
	contact_text_disabled_color:DEFAULT_TEXT_GRAY_COLOR;
	
	/* 签名文字颜色 */
	contact_signature_text_color:DEFAULT_TEXT_GRAY_COLOR;
	
	/* 通讯录机器人人名字颜色 */
	contact_plugin_text_color:#4473ac;
	
	/* 查看附近的人人名 */
	contact_emphasise_text_color:#072A5B;
	
	/* cell背景色 */
	contact_list_cell_color:#FFFFFF;
	
    /*字母栏的文字颜色 */
    contacts_section_header_text_color:#ffffff;

    /*字母栏的文字阴影 */
    contacts_section_header_shadow_color:#666b6f;

	

/* 个人资料页 ------------------------------------------------------- */	
	
	/* 个人资料名字颜色 */
	profile_nickname_color:DEFAULT_TEXT_COLOR;
	
	/* 个人资料微信号颜色 */
	profile_uin_color:DEFAULT_TEXT_DARK_COLOR;
	
	/* 打招呼文字颜色 */
	profile_sencene_color:DEFAULT_TEXT_GRAY_COLOR;
	


/* 登录注册页 ------------------------------------------------------- */

	/* 链接颜色 */
	link_text_color:DEFAULT_LINK_COLOR;
	
	/* 链接高亮颜色 */
	link_text_highlight_color:DEFAULT_LINK_HIGHLIGHT_COLOR;	
	
	/* 注册提示信息文字颜色 */
	
    login_not_allow_tip_color:#ff1717;
    
    login_allow_tip_color:#929292;


	
/* ---------------------------------------------------------------- */		
	
	/*CELL 上提醒文字颜色（默认红色） */
	cell_text_alert_color:#f00;
	
	/* 消息未读数的颜色 */
	badage_text_color:DEFAULT_TEXT_HIGHLIGHT_COLOR;
	
	/* 搜索框背景色 */
	searchbar_background_color:#9a9894;

	/* 深色底板文字颜色 */
	darkpanel_text_color:#555555;

	/* 深色底板文字高亮颜色 */
	darkpanel_text_highlight_color:#555555;
		
	/* 深色底板文字阴影 */
	darkpanel_text_shadow:#d9d9d9;
	
	/* 深色底板颜色 */
	darkpanel_background_color:#B2B2B2;
	
	/* 微信名片标题颜色 */
	weixincard_title_color:#B2B2B2;
	
	
/* ---------------------------------------------------------------- */	
	/* 正常状态按住说话按钮字体颜色 */
	voice_btn_text_color_normal : #565656 ;
	voice_btn_shadow_color_normal : #d7d7d7 ;
	
	/* 按下状态按住说话按钮字体颜色 */
	voice_btn_text_color_highlighted : #565656 ;
	voice_btn_shadow_color_highlighted : #d7d7d7 ;
	
	/* 不可用状态按住说话按钮字体颜色 */
	voice_btn_text_color_disabled : #222222 ;
	voice_btn_shadow_color_disabled : #d7d7d7 ;
	
	/* 太短提示状态按住说话按钮字体颜色 */
	voice_btn_text_color_tooshort : #444444 ;
	voice_btn_shadow_color_tooshort : #b4b4b4 ;
	
/* --------------------------表情标签栏颜色-------------------------------------- */	
	/* 表情标签栏选中的标题颜色 */
	emoticon_selected_title_color : #353535 ;
	/* 表情标签栏选中的阴影颜色 */ 
	emoticon_selected_shadow_color : #C0C0C0 ;
	/* 表情标签栏未选中的标题颜色 */
	emoticon_unselected_title_color : #B2B2B2 ; 
	/* 表情标签栏未选中的阴影颜色 */
	emoticon_unselected_shadow_color : #000000 ;
	/* 表情标签栏发送按钮的标题颜色 */
	emoticon_send_btn_title_color : #FFFFFF ; 
	/* 表情标签栏发送按钮的阴影颜色 */
	emoticon_send_btn_shadow_color : #000000  ; 

/* --------------------------邮箱App颜色-------------------------------------- */	   
    /* 邮箱收件人等label的颜色 */
    mailapp_label_color : #909090 ;
    /* 邮件标题的颜色 */
    mailapp_title_color : #000000 ; 
    /* 邮件时间的颜色 */
    mailapp_time_color : #909090 ;
    /* 邮件展开按钮的颜色 */
    mailapp_action_btn_color : #134ab5 ;
    /* 联系人分隔线颜色      */
    mail_contact_border_color : #909090  ;
    
/* --------------------------群发消息颜色-------------------------------------- */	
    masssend_seperator_color : #8a8a8a ;
    
    masssend_receiver_text_color : #494949 ;
    
    masssend_background_color : #ececec ;
    
    masssend_sendagain_color : #737373 ;
    
    masssend_sendButton_color : #2F2F2F ;
    
    masssend_title_text_color: #888888;
    
    masssend_shadow_color : #959595 ;
    
/* --------------------------我的相册颜色-------------------------------------- */	
    album_comment_cell_background_color : #F9F9F9 ;
    
    album_comment_cell_highlighted_background_color : #F0F0F0 ;
    
    album_comment_table_background_color : #F0F0F0 ;
    
    album_comment_reply_button_color : #8F8F8F ;
    
    album_username_color : #576B95; 
    
    album_username_color_highlighted : #576B95;
    
    album_username_hb_color : #D65645;
    album_username_hb_golden_color : #B19462;
    at_advertiser_username_color : #576B95;
    ad_card_background_color : #F3F3F5;
    
    album_username_hb_color_highlighted : #D65645;
    album_username_hb_golden_color_highlighted : #B19462;
    
    album_comment_hb_color : #FFDEA8;
    album_comment_hb_golden_color : #F8F5F1;
	
	wc_background_color : #EDEDED;
    
    album_text_color : #454545;
    
    album_content_desc_color : #111111;
    
    album_I_know_button_shadow_color : #1D5922;
    
    album_text_highlighted_background_color : #C7C7C5;
    
/* --------------------------相册详情页颜色-------------------------------------- */	
    album_detail_background_color : #F3F3F5 ;
    album_detail_background_hb_color : #FFFaF1 ;
    album_detail_background_hb_golden_color : #F8F5F1 ;
    
    album_detail_line_solid_color : #E5E5E5 ;
    
    album_detail_line_white_color : #F6F7F7 ;
    
    album_comment_detail_text_color : #111111 ;
    
    album_comment_detail_background_color : clear ;
    
    
    
    
/* --------------------------动态颜色-------------------------------------- */	
    wc_link_title_color : #576B95 ;
    
    wc_link_desc_color : #737373 ;
    
    wc_link_line_color : #D4D4D3 ;
    
    wc_music_title_color : #576B95 ;
    
    wc_music_desc_color : #111111 ;
    
    wc_timeline_action_color : #737373 ;
	
	wc_timeline_comment_hl_color :rgba(87,107,149,0.3);
    
    wc_timeline_comment_hb_hl_color : #F1EADC;
    wc_timeline_comment_hb_hl_golden_color : #F1EADC;
    
/* --------------------------open api 颜色-------------------------------------- */	
    openapi_sharemessage_confirm_bkg_color : rgba(0,0,0,0.6) ;
    wc_intro_view_bkg_color : rgba(0,0,0,0.8) ;
    
/* -------------------------- 注册登陆找朋友 ------------------------------------- */
    reg_login_cell_background_color : #F8F8F8;
    reg_login_cell_header_view_background_color : #EEEEEE;
    reg_login_cell_header_view_text_color : #909090;
    reg_login_cell_line_view_color : #dfdfdf; 
    reg_login_cell_header_line_view_color : #d0d0d0;
    reg_login_cell_detail_label_text_color : #818181;
    reg_login_cell_button_text_color : #595959;
    reg_login_cell_button_shadow_color : #eeeeee;
    reg_login_cell_cancel_link_color : #586b95;
    reg_login_find_friend_law_tip_detail_text_color : #646464;
    reg_login_find_friend_enable_addressbook_shadow_color : #01872b;
    reg_login_find_friend_law_tip_background_color : #EBEBEB;
    
/* ---------------------------------- 游戏 ------------------------------------- */
    game_ranklist_default_text_color : #454545;
    game_ranklist_headview_background_color : #F9F9F9;
    game_ranklist_tail_background_color : #EBEBEB;
    game_ranklist_headview_gamemsg_label_text_color : #111111;
    game_ranklist_tailview_background_color : #EBEBEB;
    game_ranklist_tailView_lineview_color : #C5C5C5;
    game_ranklist_tailview_cell_background : #F7F7F7;
    game_ranklist_tailview_number_text_color : #909090;
    game_ranklist_enter_button_shadow_color : #558353;
    game_msglist_timelabel_text_color : #737373;
    
/* ---------------------------------- 全局搜索 ---------------------------------- */
    fts_list_div_line_color : #eeeeee;
    fts_title_text_color : #000000;

/* ---------------------------------- */
    /* 摇一摇、扫一扫 切换按钮的文字颜色 */
    TYPE_BUTTON_TITLE_COLOR:#b2b2b2;
    TYPE_BUTTON_TITLE_COLOR_SELECTED:#1AAD19;
    /* 扫一扫 我的二维码 */
    CameraScan_MyQrcode_Title_Color:#1AAD19;
    
/* ---------------------------------- CrashProtected ---------------------------------- */
    cpcolor_for_nickname:#888888;
    cpcolor_for_messagewrap:#919191;
    cpcolor_for_wctimelinecontent:#888888;
    cpcolor_for_othercontent:#888888;
    
/* ---------------------------------- help tool ---------------------------------- */
    hpcolor_for_background:#f1f1f1;
}
