/* 未读数图标拉伸范围  */
.unread_image{
    tabbar_unread_image: "tabbar_badge.png" 15 0  ;
    tabbar_new_game_image: "GameCenterNewWhite.png" 15 0  ;
}

/*文字按钮*/
#base_fontbtn {
    text_font: 16;
    text_color: #576B95;
}

/*置顶列表*/
#base_list{
    cell_bgcolor_PinToTop: #EDEDED;
}

#commonTableCellMargin {
    left:16;
}

#common_default
{
    common_font_size : 17;
    common_font_midsmall_size : 14 dynamic;
    common_font_small_size : 12;
}

#font_set {
    alllevel : 16 17 18 19 20.5;
    chatLevel : 16 17 18 19 21 27.5;
}

#fts_cell {
    label_height : 25 dynamic;
    cell_height : 65 dynamic;
    individual_cell_height : 70 dynamic;
    common_cell_height : 100 dynamic;
    common_cell_thumb_height : 60 dynamic;
    common_cell_thumb_width : 60 dynamic;
    common_cell_detail_icon_width : 14 dynamic;
    common_cell_detail_icon_height : 14 dynamic;
    more_cell_height : 45 dynamic;
    fav_cell_height : 85 dynamic;
    brand_contact_cell_height : 85 dynamic;
    cell_margin_top : 10 dynamic;
    cell_margin_bottom : 10 dynamic;
    cell_headimage_padding_top : 9 dynamic;
    cell_headimage_width : 48 dynamic;
    cell_headimage_height : 48 dynamic;
    title_text_font : 17 dynamic;
    localpage_title_text_font : 14 dynamic;
    small_text_font : 13 dynamic;
    mid_text_font : 14 dynamic;
    timeline_desc_text_font : 15 dynamic;
    cell_vmargin_small : 1.5 dynamic;
    cell_vmargin_normal : 4 dynamic;
    table_footer_view_height : 50 dynamic;
    first_title_cell_height : 40 dynamic;
    title_cell_height : 45 dynamic;
    mid_text_height : 17 dynamic;
    small_text_height : 16 dynamic;
    title_text_height : 21 dynamic;
    poi_cell_height : 100 dynamic;
    poi_star_container_height: 13 dynamic;
    poi_star_vmargin : 4 dynamic;
    cell_default_label_height : 20 dynamic;
}

#mainframe_dropdown
{
    wechatlogo_image: "MainFrameLogo";
    wechatlogo_bottom_margin: 30;
}

/*   主界面 */
#mainframe_table
{
    /*主会话列表项高度*/
    cell_height: 72;
    /*分割线颜色*/
    cell_line_color:#DEDEDE;
    /*顶部offset*/
    cell_headimg_top_margin:12;
    cell_msglabel_top_margin:12;
    cell_labelmsg_bottom_margin:12;
    /*   用户名fontsize */
    cell_msglabel_textsize:17;
    cell_msglabel_desc_textsize:14;
    cell_badge_top_margin:-3;
    cell_reddot_top_margin:-1;
    cell_labelmsg_textsize:14;
    /*left margin*/
    cell_headimg_left_margin:16;
    cell_namelabel_left_margin:12;
    /*right margin*/
    cell_timelabel_right_margin:16;
    cell_timelabel_textsize:12;
    /*headimg size*/
    cell_headimg_size: 48 48;
    /*chatnotpush right margin*/
    cell_chatnotpushimg_right_margin:16;
    /* Original Icon */
    original_icon_width: 31;
    original_icon_height: 13;
    original_icon_offset_nickname: 6;
}

#MFTitleView
{
    earpiece_margin_left : 4;
}

#navigation_bar
{
    landscape_height : 32;
    titleview_fontsize : 17;
}

/*通用搜索框*/
#widget_searchbar
{
    /*输入框*/
    textfield_image: "widget_searchbar_textfield.png";
    textfield_image2: "widget_searchbar_textfield2.png";
}
