Package: com.yourcompany.tweak_ssr
Name: tweak_ssr
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 朱双泉
Author: 朱双泉
Section: Tweaks
